html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #f0e6d1;
}

a {
  text-decoration: none;
  color: inherit;
}

.horizontal-text4 {
  font-family: 'Swanky and Moo Moo', cursive;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 80px;
  color: #4705b8;
  z-index: 1;
  }

  #horizontal-text4 {
  animation-name: slideIn;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.lyricsFour {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Lexend", sans-serif;
  text-align: center;
  color: #d6cdb9;
  font-size: 150px;
  white-space: nowrap;
}





@keyframes slideIn {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}