html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-color: #f0e6d1;
}

a {
  text-decoration: none;
  color: inherit;
}

.horizontal-text3 {
  font-family: 'Swanky and Moo Moo', cursive;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 80px;
  color: #4705b8;
  z-index: 1;
  }

  #horizontal-text3 {
  animation-name: slideIn;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.background-text3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Lexend", sans-serif;
  text-align: center;
  color: #d6cdb9;
  font-size: 200px;
  white-space: nowrap;
}

#background-text3 {
  animation-name: fadeInOut;
  animation-duration: 5s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes fadeInOut {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.0);
  }
  to {
    opacity: 0;
    
  }
}

@keyframes slideIn {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}




