h1 {
  font-family: "Swanky and Moo Moo", cursive;
}

.firstRow{

  transition-property: opacity;
  transition-duration: 6s;
  transition-timing-function: ease;
  transition-delay: 1s;

}

.firstRow:hover{
  opacity: 1;
}