div {
  font-family: "Swanky and Moo Moo", cursive;
}

.lyricsOne{

  transition-property: opacity;
  transition-duration: 6s;
  transition-timing-function: ease;
  transition-delay: 1s;

}

.lyricsOne:hover{
  opacity: 1;
}